<div class="container py-4">
    <h2 class="mb-3">Liste des événements</h2>

    <!-- Recherche -->
    <input type="text" class="form-control mb-4" placeholder="Rechercher un événement" [(ngModel)]="searchTerm">

    <div class="row g-3">
        <div class="col-md-4" *ngFor="let event of Eventlist | contains:searchTerm">
            <!-- <div class="card h-100 shadow-sm" *ngIf="!searchTerm || event.titre.toLowerCase().includes(searchTerm.toLowerCase()) || event.lieu.toLowerCase().includes(searchTerm.toLowerCase());else notfound"> 
                <img [src]="event.imageUrl" alt="Event Image"
                     class="card-img-top img-fluid"
                     style="height: 200px; object-fit: cover;">

                <div class="card-body">
                    <h5 class="card-title">{{ event.titre }}</h5>
                    <p class="text-muted">{{ event.lieu }}</p>
                    <p>{{ event.description }}</p>
                    <p class="fw-bold">{{ event.prix }} €</p>
                    <p>{{ event.date | date:'shortDate' }}</p>

               Bouton Like 
                    <button class="btn btn-sm btn-primary" (click)="increment_likes(event)" [disabled]=" campare(event) ">
                        👍 Like
                    </button>
                    <span class="ms-2">{{ event.nbLikes }}</span>
                </div>

            </div> -->
            <div>
                <app-card></app-card>

            </div>
        </div>

    </div>

</div>
<ng-template #notfound>
    <p class="text-danger">No results found</p>
</ng-template>