<div class="card h-100 shadow-sm">
    <img [src]="event.imageUrl" alt="Event Image" class="card-img-top img-fluid"
        style="height: 200px; object-fit: cover;">

    <div class="card-body">
        <!-- J'ai ajouté la directive au titre-->
        <h5 class="card-title" appHighlight>{{ event.titre | uppercase }}</h5>
        <p class="text-muted">{{ event.lieu }}</p>
        <p>{{ event.description }}</p>
        <p class="fw-bold">{{ event.prix | currency:'TND':'code':'1.3-3' }}</p>
        <p>{{ event.date | date:'mediumDate' }}</p>

        <!-- Bouton Like -->
        <button class="btn btn-sm btn-primary" (click)="increment_likes(event)" [disabled]=" campare(event) ">
            👍 Like
        </button>
        <span class="ms-2">{{ event.nbLikes }}</span>
    </div>

</div>